*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width:100vw;
  height:100vh;
}

.route{
  margin:15px;
  padding: 10px;
  background-color: rgb(31, 180, 180);
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 1px 1px 5px 0px grey;
  width:50%;
}

.app{
  border: 1px solid grey;
  box-shadow: 1px 1px 5px 0px grey;
  background-color: rgb(143, 206, 206);
  width:50%;
  margin:10px;
  padding:5px;
}